@charset 'UTF-8';


body{
    background-color: #b3b3b3;
    font-family: Arial, Helvetica, sans-serif ;
}

nav > a:hover{
    background-color: black;
    color: #ffffff;
    border-radius: 6px;
}

nav > a{
    color: black;
    font-weight: bold;
    padding: 10px;
}

nav{
    background-color: beige;
    padding: 5px;
    text-align: center;
}

.botao{
    display: inline-block;
    padding: 10px 20px;
    background-color: beige;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s; 
}

.botao:hover {
    background-color: rgb(255, 255, 170);
    transform: scale(1.01);
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

h2, h3{
    max-width: 500px;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: white;
    background-color: rgb(211, 211, 169);
    width: auto;
}

h2{
    background-color: bisque;
    padding: 3px;
}

h3{
    background-color: bisque;
    padding: 3px;
}

footer > p > a:hover {
    background-color: black;
    color: #ffffff;
    border-radius: 6px;
}

footer > p > a{
    color: black;
    font-weight: bold;
}

footer {
    margin-top: 10px;
    background-color: beige;
    padding: 5px;
    text-align: center;
}